<footer>
    <ul class ="footer-list">
        <li class="li-margin-left">プライバシーポリシー</li>
        <li class="li-margin-left">お問い合わせページ</li>
        <li class="li-margin-left">利用規約</li>
    <ul>
</footer>