<nav>
    <ul class="menu-list">
        <li>
            <%= link_to "トップ", root_path %>
        </li>
        <li class="li-margin">
            <a>いいねを送る</a>
        </li>
        <li class="li-margin">
            <%= link_to "New user", new_user_path %>
        </li>
    </ul>
</nav>