/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



  .container {
    display: flex;
  }

  .header{
    position: fixed;
    padding: 1vh;
    background-color: rgb(239, 184, 167);
    height: 5vh;
    width: 100vh;
    z-index: 4;
  }

  .menubar{
    /* メニューバーの固定 */
    position: fixed;
    margin-top: 5vh ;
    padding: 5vh 1vh 5vh 1vh ;
    height: calc(100vh - 5vh);
    width: 15vw;
    background-color: #fad5b2;
    z-index: 1;
  }

  .main{
    position: relative; /* フッターをコンテンツ内に配置するため */
    background-color: rgb(138, 248, 164);
    margin: 5vh 0 0 15vw;
    padding: 5vh 5vh 5vh 5vh ;
    /* ヘッダーの高さを除いた高さに設定 */
    height: calc(100vh - 5vh);
    width: 85vw;
    overflow-y: auto; /* 縦方向にスクロール可能に設定 */
  }

  .footer{
    position: relative;
    padding: 1vh;
    background-color: rgb(160, 254, 245);
    height: 5vh;
    z-index: 2;
  }

