/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



  .container {
    display: flex;
  }
  
  .menubar{
    /* position: fixed; */
    /* top: 5vw; ヘッダーの高さと同じ値に設定 */
    height: calc(100% - 5vw); /* ヘッダーの高さを除いた高さに設定 */
    height: 100vw;
    width: 15vw;
    background-color: #fad5b2;
    left: 0;
    font-size: 16px;
    /* z-index: 1; */
  }

 .header{
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    background-color: rgb(239, 184, 167);
    height: 5vw;
    /* z-index: 1; */
 }

.footer{
    background-color: rgb(160, 254, 245);
    height: 5vw;
}

.top{
    background-color: rgb(138, 248, 164);
    height: 90vw;
    width: 100vw;
}