/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  h1, h2 {
    margin-bottom: 0.5em;
  }

  .container {
    display: flex;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  /* ヘッダー */
  header{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 3vh 0 3vh;
    background-color: #1DA1F2; /* Twitter's brand color */
    height: 10vh;
    width: 100vw;
    z-index: 4;
    color: white;
  }

  header a {
    color: white;
  }

  .space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    align-self: center;
  }
  
  .login-link {
    align-self: center;
  }

  .instruction {
    margin-bottom: 3vh;
  }

  /* メニューバー */
  .menubar{
    /* メニューバーの固定 */
    position: fixed;
    margin: 10vh 0 0 0;
    padding: 5vh 3vh 5vh 3vh ;
    height: calc(100vh - 10vh);
    width: 15vw;
    background-color: white;
    z-index: 1;
  }

  .menu-list{
    display: flex;
    flex-direction: column;
  }

  .li-margin-top{
    margin-top: 3vh;
  }

  /* メインセクション */
  .main{
    position: relative; /* フッターをコンテンツ内に配置するため */
    background-color: white;
    margin: 10vh 0 0 15vw;
    padding: 5vh ;
    /* ヘッダーの高さを除いた高さに設定 */
    height: calc(100vh - 10vh);
    width: 85vw;
    overflow-y: auto; /* 縦方向にスクロール可能に設定 */
  }

  .tweet-lines li{
    margin-bottom: 1em;
  }

  .input-border {
    border: 1px solid #000;
    background-color: rgb(247, 247, 248);
  }

  .submit-button {
    background-color: #1DA1F2; /* Twitter's brand color */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    transition-duration: 0.4s; /* transition effect */
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0e7ac4; /* Darker blue */
    color: white;
  }

  .input-border::placeholder {
    color: gray;
  }

  /* フッター */
  footer{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 3vh 0 3vh;
    background-color: #1DA1F2; /* Twitter's brand color */
    color: white;
    height: 10vh;
    z-index: 2;
  }

  .footer-list{
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .li-margin-left{
    margin-left: 3vh;
  }


